@font-face {
  font-family: 'test';
  font-style: normal;
  font-weight: 400;
  src: url(https://github.com/urielceniceros918/potential-bassoon/blob/main/NINTENDO_UDSG-R_STD.TTF) format('TrueType');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
